VITE_POSTS_API_URL=http://localhost:3001

# parser-backend PostgreSQL
DATABASE_URL=postgresql://USER:PASSWORD@localhost:5432/devweek

VITE_FUSIONBRAIN_API_KEY=your_key_here
VITE_FUSIONBRAIN_SECRET_KEY=your_key_here

VITE_STABLECOG_SECRET_KEY=your_key_here

VITE_OPENROUTER_AUTH_KEY_MAIN=your_key_here
VITE_OPENROUTER_AUTH_KEY_FALLBACK=your_key_here

