.wrapper {
  width: 100%;
}

.list {
  gap: 32px;

  &__header {
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px;
  }

  &__scrape {
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
  }
}

.grid {
  width: 100%;
}

.pagination {
  justify-content: center;
}

@media (max-width: 992px) {
  .list {
    gap: 24px;

    &__title {
      font-size: 28px;
    }
  }
}

@media (max-width: 768px) {
  .list {
    gap: 16px;

    &__title {
      font-size: 24px;
    }
  }
}
